html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Google Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
}
body.dragging {
  cursor: ns-resize;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}
